<nav class='navbar navbar-expand navbar-light bg-light'>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' routerLink='/welcome'>Home</a></li>
    <li><a class='nav-link' routerLink='/exercises'>Exercise List</a></li>
    <li><a class='nav-link' routerLink=''>Blog</a></li>
    <li><button mat-button class="sign-In" routerLink=''>Sign In</button></li>
  </ul>
</nav>
<div class='container'>
  <button class="contactForm" routerLink='/contact-us'>Contact Us</button>
  <router-outlet></router-outlet>
</div>