nav .navbar-brand {
    margin-left: 18px;
}
body {
    background-color: lightblue;
}
.sign-In{
    position: absolute;
    right: 50px;
    top: 15px;
}
.contactForm{
    position: fixed;
    bottom: 5px;
    right: 50px;
}