#text{
    color: #1565C0;
}
#right{
    position: absolute;
    right: 2px;
}
.signIn{
    background-position: 100% .4em;
    padding-right: .6em;
    background-repeat: no-repeat;
}
.tempDis{
    opacity: 0.5;
}
.nav-link{
    color: #1565C0;
}
#signed{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
img{
    width: 50px;
    margin: 2px; 
}