<nav class='navbar navbar-expand navbar-light bg-light'>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' routerLink='/welcome'>Home</a></li>
    <li><a class='nav-link' routerLink='/exercises'>Exercise List</a></li>
    <li><a class='nav-link' routerLink=''>Blog</a></li>
    <li><a *ngIf="!auth.isAuth()" class='nav-link' routerLink='/login'>Sign In</a></li>
    <li><a *ngIf="auth.isAuth()" class='nav-link' routerLink=''> Welcome {{auth.currentUser.firstName}}</a></li>
    <!--
    <li><button mat-button class="sign-In" routerLink='/login'>Sign In</button></li>
    -->
  </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>