<h1>Discussion Board</h1>
<hr>
<mat-sidenav-container class="example-container">
  <mat-sidenav class="sideNav" mode="side" opened>
    <button class='backB' mat-raised-button routerLink="/blog">Back</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div *ngIf="selectedPost$ | async as blogPost">
      <mat-card class="blog-card" >
        <mat-card-title-group>
          <mat-card-title>{{blogPost.title}}</mat-card-title>
          <mat-card-subtitle>{{blogPost.author}} <img [src]='blogPost.avatar' /></mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>{{blogPost.content}}</mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)='togglePostForm()'>{{showForm? 'Cancel' : 'Create'}} Reply</button>
        </mat-card-actions>
      </mat-card>
      <div id="commentCreation">
          <div class="'form-group" *ngIf="showForm">
            <input [(ngModel)]="comment" name="comment" id="comment" type="text" class="form-control" placeholder="Type your reply here..." required />
            <button mat-stroked-button color="primary" (click)="addNewComment()">Submit</button>
          </div>
      </div>
    </div>  
    <div *ngIf="currentComments$ | async as comments">
      <mat-card class="comments" *ngFor="let comment of comments">
      <mat-card-title-group>
        <mat-card-title>{{comment.user}} </mat-card-title>
      </mat-card-title-group>
      <mat-card-content>{{comment.reply}}</mat-card-content>
    </mat-card> 
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>