<div>
  <button mat-raised-button color="primary" routerLink='/exercises'>Back</button>
  
  <div class="flex-container" >
      <mat-card class="workout-card" *ngFor="let arr of array">
        <mat-card-title-group>
          <mat-card-title>{{arr.title}}</mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
          <div class="table-responsive" >
            <table class="table" >
              <thead>
                <tr >
                  <th>Exercise</th>
                  <th>Weight</th>
                  <th>Sets</th>
                  <th>Reps</th>
                </tr>
              </thead>
              <tbody> 
                <!--Loop over each name in lifts.name-->
                <tr *ngFor="let x of arr.lift">
                  <td>{{x.name}}</td>
                  <td><input name="weight" id="weight" type="text" class="form-control" /></td>
                  <td><input name="sets" id="sets" type="text" class="form-control" /></td>
                  <td><input name="reps" id="reps" type="text" class="form-control" /></td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
  </div>
</div>