<h1>Discussion Board</h1>
<hr>
<div class="post-button">
    <button mat-raised-button color="warn" (click)='togglePostForm()'>{{showForm? 'Hide' : 'Create'}} Post</button>
    <div id="postCreation">
        <form *ngIf='showForm' #blogForm="ngForm" (ngSubmit)="blog(blogForm.value)" autocomplete="off">
            <div class="'form-group">
                <label for="title">Title:</label>
                <input (ngModel)="title" name="title" id="title" type="text" class="form-control" placeholder="Name your blog post" />
            </div>
            <div class="form-group">
                <label for="author">Author:</label>
                <input (ngModel)="author" name="author" id="author" type="text" class="form-control" placeholder="Enter your name" />
            </div>
            <div class="form-group">
                <label for="post">Post:</label>
                <input (ngModel)="post" name="post" id="post" type="text" class="form-control" placeholder="Content of blog post" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


    <div class="flex-container">
      <mat-card class="blog-card" *ngFor='let blogPost of blogPosts'>
        <mat-card-title-group>
          <mat-card-title>{{blogPost.blogTitle}}</mat-card-title>
          <mat-card-subtitle>{{blogPost.blogAuthor}}</mat-card-subtitle>
            <!--Avatar
            <img mat-card-sm-image src="./assets/images/test1.png" >
            -->
        </mat-card-title-group>
        <mat-card-content>{{blogPost.blogContent}}</mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="incrementLikes()">LIKE {{blogPost.likes}}</button>
          <button mat-button (click)="incrementComments()">COMMENT {{blogPost.comments}}</button>
        </mat-card-actions>
      </mat-card>
    </div>