* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.testimonial-card{
    margin: 7px;;
}
.post-button{
    text-align: center;
}
.btn-primary{
    background-color: lightcoral;
}
#postCreation{
    text-align: center;
    border: 1px solid black;
    margin: 4px;
}
.blog-card{
    border: 1px solid black;
    max-width: 375px;
    margin-bottom: 8px;
    margin: 5px;
    
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}