.post-button{
    text-align: left;
    padding: 20px;
    
}
#postCreation{
    text-align: center;
    border: 1px solid black;
    margin: 4px;
}
.blog-card1{
    border: 1px solid black;
    margin-bottom: 8px;
    margin: 5px;
    width: 95%;
    height: 25%;
}
.flex-container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sideNav{
    /*This is the angular material button primary*/
    background-color: #3F51B5;
    width: 150px;
    text-align: center;
}
.b{
    color: white;
    text-align: center;
}
img{
    height: 50px;
    width: 50px;
    margin: 2px; 
}
.post{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 100px;
    text-align: center; 
}