<h1>Discussion Board</h1>
<hr>
<mat-sidenav-container class="example-container">
  <mat-sidenav class="sideNav" mode="side" opened>
    <div class="post-button">
    <mat-list role="list">
      <mat-list-item role="listitem"><button mat-raised-button (click)="openDialog()">New Post</button></mat-list-item>
      <mat-list-item class="b" role="listitem"><button mat-button (click)="allPosts()">All Posts</button></mat-list-item>
      <mat-list-item class="b" role="listitem"><button mat-button [disabled]="disableLikedPostsButton" (click)="likedPosts()">Liked Posts</button></mat-list-item>
    </mat-list>
  </div>
    
  </mat-sidenav>
  <!--HTML for all posts-->
  <mat-sidenav-content *ngIf="allFlag">
    <div class="flex-container">
      <mat-card class="blog-card" *ngFor='let blogPost of blogPosts'>
        <mat-card-title-group>
          <mat-card-title><a id="exerName" [routerLink]="['/discussion', blogPost.blogId]">
            {{blogPost.blogTitle}}</a></mat-card-title>
          
          <mat-card-subtitle>{{blogPost.blogAuthor}} <img [src]='blogPost.authorAvatar' /></mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>{{blogPost.blogContent}}</mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="liked(blogPost.blogTitle, blogPost.blogAuthor, blogPost.blogContent, blogPost.likes, blogPost.authorAvatar)">LIKE {{blogPost.likes}}</button>
          <button mat-button>COMMENT {{blogPost.comments}}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-sidenav-content>
  <!--HTML for liked posts only-->
  <mat-sidenav-content *ngIf="!allFlag">
    <div class="flex-container">
      <mat-card class="blog-card" *ngFor='let fill of filteredList'>
        <mat-card-title-group>
          <mat-card-title><a id="exerName" [routerLink]="['/discussion', fill.blogId]">
            {{fill.blogTitle}}</a></mat-card-title>
          <mat-card-subtitle>{{fill.blogAuthor}} <img [src]='fill.authorAvatar' /></mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>{{fill.blogContent}}</mat-card-content>
        <mat-card-actions>
          <button (click)="trash()">Remove from Likes</button>
          <button mat-button>COMMENT {{fill.comments}}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

