<div>
  <h1>
    Workouts
    <button id="button" mat-raised-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="createNewWorkout()">Create New Workout</button>
        <button mat-menu-item routerLink='/exercises'>View Complete Exercise List</button>
      </mat-menu>
  </h1>
  <hr>
  <div class="flex-container" *ngIf='workouts$ | async as workouts'>
    <div *ngIf="!workouts?.length">
      <h1>No workouts to display!</h1>
      <div class="center">
      <button mat-raised-button (click)="createNewWorkout()">Create My First Workout</button></div>
    </div>
    <mat-card class="workout-card" *ngFor="let workout of workouts">
      <mat-card-title-group>
        <mat-card-title>
          {{workout.title}}
        </mat-card-title>
        <div class="new">
          <button  mat-raised-button [matMenuTriggerFor]="menu">Options</button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="addLift(workout.id)">Add New Lift</button>
                <button mat-menu-item [routerLink]="['/workoutlist', workout.id]" (click)="onSelected(workout.id)">Edit Workout</button>
                <button mat-menu-item (click)="deleteWorkout(workout.id, true)">Delete Workout</button>
              </mat-menu>
        </div>
        
      </mat-card-title-group>
        <mat-card-content>
          <table class="table" >
            <thead>
              <tr>
                <th>Exercise</th>
                <th>Weight</th>
                <th>Sets</th>
                <th>Reps</th>
              </tr>
            </thead>
            <tbody *ngFor="let lift of workout.lift">
              <tr>
                <td><a [routerLink]="['/exercises', lift.id]" (click)="onSelectedExercise(lift.name)" >{{lift.name}}</a></td>
                <td>{{lift.weight}}</td>
                <td>{{lift.sets}}</td>
                <td>{{lift.reps}}</td>
              </tr>
            </tbody>
          </table> 
        </mat-card-content>
    </mat-card>
  </div>
</div>