<div>
  <h1>
    <b>Workouts</b>
    <button id="button" mat-raised-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="createNewWorkout()">Create New Workout</button>
        <button mat-menu-item routerLink='/exercises'>View Complete Exercise List</button>
      </mat-menu>
  </h1>
  <hr>
  <div class="flex-container" *ngIf='workouts$ | async as workouts'>
    <mat-card class="workout-card" *ngFor="let workout of workouts">
      <mat-card-title-group>
        <mat-card-title>
          <a id="workoutName" [routerLink]="['/workoutlist', workout.id]" (click)="onSelected(workout.id)">{{workout.title}}</a>
        </mat-card-title>
        <h2 class="new">Number of Exercises: {{workout.lift.length}}</h2>
        <div class="new">
          <button  mat-raised-button [matMenuTriggerFor]="menu">Options</button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="addLift(workout.id)">Add New Lift</button>
                <button mat-menu-item (click)="deleteWorkout(workout.id, true)">Delete Workout</button>
              </mat-menu>
        </div>
        
      </mat-card-title-group>
        <mat-card-content>
          <table class="table" >
            <thead>
              <tr>
                <th>Exercise</th>
                <th>Weight</th>
                <th>Sets</th>
                <th>Reps</th>
              </tr>
            </thead>
            <tbody *ngFor="let lift of workout.lift">
              <tr>
                <td>{{lift.name}}</td> 
                <td>{{lift.weight}}</td>
                <td>{{lift.sets}}</td>
                <td>{{lift.reps}}</td>
                <td><button (click)="deleteLift(lift.id)" mat-raised-button><mat-icon>delete</mat-icon></button></td>
              </tr>
            </tbody>
          </table> 
        </mat-card-content>
    </mat-card>
  </div>
</div>