<div class='card' *ngIf="exercise$ | async as exercise">
    <div class='card-header'>
      Exercise Details
    </div>
  
    <div class='card-body'
         *ngIf='exercise'>
      <div class='row'>
        <div class='col-md-8'>
          <div class='row'>
            <div class='col-md-4'>Name:</div>
            <div class='col-md-8'>{{exercise.name}}</div>
          </div>
          <div class='row'>
            <div class='col-md-4'>Description:</div>
            <div class='col-md-8'>{{exercise.description}}</div>
          </div>
        </div>
  
        <div class='col-md-4'>
          <iframe width="335" height="315" [src]="sanitizer.bypassSecurityTrustResourceUrl(exercise.videoURL)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
        </div>
      </div>
    </div>
  
    <div class='card-footer'>
      <button id='back' class='btn btn-outline-secondary'
              (click)='onBack()'>
        <i class='fa fa-chevron-left'></i> Back
      </button>
    </div>
  </div>