<div class='card'>
    <div class='card-header'>
        Exerciese List
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
                <button class="lifts" mat-button [matMenuTriggerFor]="menu">My Workouts</button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item *ngIf="!createNew" (click)="create()" (click)="clearDisplay()">Create New Workout</button>
                        <button mat-menu-item *ngIf="createNew" (click)="create()">Cancel New Workout</button>
                        <button mat-menu-item routerLink='/workoutlist'>View Existing Workouts</button>
                    </mat-menu>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table' *ngIf='exercises.length'>
                <thead>
                    <tr>
                        <th></th>
                        <th>Exercise</th>
                        <th>Muscle Group</th>
                        <th>Rep Range</th>
                        <th>Difficulty</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let exercise of filteredExercises'>
                        <td>

                            <img  [src]='exercise.imageUrl' [title]="exercise.exerciseName" >

                        </td>
                        <td>
                            <a id="exerName" [routerLink]="['/exercises', exercise.exerciseId]">
                            {{exercise.exerciseName}}</a></td>
                        <td>{{exercise.muscleGroup}}</td>
                        <td>{{exercise.repRange}}</td>
                        <td>{{exercise.difficulty}}</td>
                        <td *ngIf="createNew">
                            <button mat-raised-button color="primary" (click)="add(exercise.exerciseId, exercise.exerciseName)" >ADD</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="container">
                <div class="row">
                    <div *ngIf="createNew" class="flex-container">
                        <div class="item-1">
                            <form #titleForm="ngForm" (ngSubmit)="saveTitle(titleForm.value)" autocomplete="off">
                                <div class="'form-group">
                                    <label for="workoutTitle">Title:</label>
                                    <input [(ngModel)]="workoutTitle" name="workoutTitle" id="workoutTitle" type="text" class="form-control" placeholder="Name your workout..." required />
                                </div>
                                <button type="submit" [disabled]="titleForm.invalid || tempArray.length == 0" id="create" mat-raised-button color="primary">Submit Workout</button>
                            </form>
                        </div>
                        <div class="item-2">
                            <label>Selcted Exercises:</label>
                            <div class="flex-container1" *ngFor="let arr of tempArray">
                                <li class="list">{{arr}}</li>
                                <button class="can" *ngIf="show" (click)="remove1(arr)"><mat-icon>delete_outline</mat-icon></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>