<div class='card'>
    <div class='card-header'>
        Exerciese List
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
                <button class="lifts" mat-button [matMenuTriggerFor]="menu">My Workouts</button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="createWorkout()">Create New Workout</button>
                        <button mat-menu-item routerLink='/workoutlist'>View Existing Workouts</button>
                    </mat-menu>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table' *ngIf='exercises.length'>
                <thead>
                    <tr>
                        <th>
                            <button mat-raised-button color="primary" (click)='toggleImage()'>
                                {{showImage? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Exercise</th>
                        <th>Muscle Group</th>
                        <th>Rep Range</th>
                        <th>Difficulty</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let exercise of filteredExercises'>
                        <td>
                            <img *ngIf='showImage' [src]='exercise.imageUrl' [title]="exercise.exerciseName" >
                        </td>
                        <td>
                            <a id="exerName" [routerLink]="['/exercises', exercise.exerciseId]">
                            {{exercise.exerciseName}}</a></td>
                        <td>{{exercise.muscleGroup}}</td>
                        <td>{{exercise.repRange}}</td>
                        <td>{{exercise.difficulty}}</td>
                        <td *ngIf="createNew"> CheckBox</td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="createNew" class="row">
                <p>Title:</p>
                <input type='text' [(ngModel)]='title' />
                <button mat-raised-button color="primary">Submit Workout</button>
            </div>
        </div>
    </div>
</div>