<div class='card'>
    <button class="lifts" mat-raised-button color="primary" [routerLink]="['/workoutlist']">Back to Workouts</button>
    <div class='card-header'>
        Exerciese List
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table' *ngIf='exercisesFilter$ | async as exercises'>
                <thead>
                    <tr>
                        <th></th>
                        <th>Exercise</th>
                        <th>Muscle Group</th>
                        <th>Rep Range</th>
                        <th>Difficulty</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let exercise of exercises'>
                        <td><img [src]='exercise.imageURL' [title]="exercise.name"></td>
                        <td><button mat-raised-button [routerLink]="['/exercises', exercise.id]" [ngClass]="{active: exercise?.id === (selectedExercise$ | async)?.id }" (click)="onSelected(exercise.id)">{{exercise.name}}</button></td>
                        <td>{{exercise.muscleGroup}}</td>
                        <td>{{exercise.repRange}}</td>
                        <td>{{exercise.difficulty}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>