<body>
  <!--Header-->
  <div class="jumbotron jumbotron-fluid">
    <div class="contianer">
      <h1>CV Coaching</h1>
        <h3>Start your fitness journey today!</h3>
        <p>We are a team of dedicated fitness professionals helping you reach
        your goals.  Start today and gain access to world class instruciton 
        through tutorial videos, workout plans, community discusions, and individual 
        workout sessions.
        </p>
    </div>
  </div>

  <!--Trainer Section-->
  <div id="about-us-title" class="text-center">
    <h1><i>Who we are... </i></h1>
  </div>
  <div class="flex-container">
    <div class="trainer">
      <img src="./assets/images/head2.png" width="150" height="150" alt="Trainer2">
      <h3>Tommy</h3>
      <p> Tommy Smith is a group exercise instructor at Next Level Personal Training. He has always 
        had a passion for health & fitness and maintaining an active lifestyle. He is an avid runner 
        of over 10 years and continues to participate in events ranging from 5ks & obstacle events to 
        ultramarathons. His goal is to get people excited about exercise and help them find joy in living
         an active lifestyle. 
      </p>
    </div>
    <div class="trainer">
      <img src="./assets/images/trainer1.jpg" width="150" height="150" alt="Trainer1">
      <h3>Susan</h3>
      <p>Susan Harvey is a native of Philadelphia. This mother of 3, has a background in track & field and distance 
        running.  She has over 10 years experience working with clients helping them to improve their quality of 
        life through health, fitness and nutrition. Shani has also been a leader in women's bodybuilding not only
         as a 3x medal competitor, but also as a coach. 
      </p>
    </div>
  </div>

    <!--Fitness areas-->
    <div id="activities-title" class="text-center">
      <h1><i>Our Specialties</i></h1>
    </div>
    <div class="flex-container">
      <div class="activity">
        <h2>Bodybuilding</h2>
        <img src="./assets/images/bodyBuildingIcon.png" width="150" height="150">
      </div>
      <div class="activity">
        <h2>PowerLifting</h2>
        <img src="./assets/images/weightIcon.png" width="150" height="150">
      </div>
      <div class="activity">
        <h2>CrossFit</h2>
        <img src="./assets/images/kettleBellIcon.png" width="150" height="150">
      </div>
      <div class="activity">
        <h2>Sport Training (Cardio)</h2>
        <img src="./assets/images/healthIcon.png" width="150" height="150">
      </div>
      <div class="activity">
        <h2>Mental Health</h2>
        <img src="./assets/images/mentalIcon.png" width="150" height="150">
      </div>
      <div class="activity">
        <h2>Weight Loss</h2>
        <img src="./assets/images/lossIcon.png" width="150" height="150">
      </div>
    </div>
 
  <!--Payment Plan Section-->
  <div id="services-title" class="text-center">
    <h1><i>Services Plans</i></h1>
  </div>
  <div class="flex-container">
    <div class="item">
      <h2><b>Basic</b></h2>
      <p>Create an account today at no charge to explore our content with no commitments.  This plan includes
        written descriptions, images, video tutorials, customizable workout plans, and community blog.  
      </p>
      <h3><i>Free</i></h3>
    </div>
    <div class="item">
      <h2><b>Starter</b></h2>
      <p>This plan includes access to all the features availble with the <i>Basic Package</i>.  In additon to these base 
        features our team of certified trainers will create specific exercise plans based on your needs.  These trainers
        are always availble to answer any questions or concerns you will have along your fitness journey. 
      </p>
      <h3><i>$25/month</i></h3>
    </div>
    <div class="item">
      <h2><b>Andvanced</b></h2>
      <p>This plan includes everything availble within the <i>Starter Package</i>.  In additon clients will be able 
        to schedule in person training sessions.  Users will have five 1-hour sessions that can be scheduled at anytime.  
        These in-person sessions are create for newbies who learn best with hands on instruction.
      </p>
      <h3><i>$65/month</i></h3>
    </div>
  </div>

  <!--Testimonials Section-->
  <div id="testimonials-title" class="text-center">
    <h1><i>Testimonials</i></h1>
  </div>
  <div class="flex-container">
    <mat-card class="testimonial-card">
      <mat-card-title-group>
        <mat-card-title>Chris Bumstead</mat-card-title>
        <mat-card-subtitle>Mr. Olympia</mat-card-subtitle>
        <img mat-card-sm-image src="./assets/images/test1.png" >
      </mat-card-title-group>
      <mat-card-content>
        {{longTextChris}}
      </mat-card-content>
    </mat-card>
    <mat-card class="testimonial-card">
      <mat-card-title-group>
        <mat-card-title>Chris Bumstead</mat-card-title>
        <mat-card-subtitle>Mr. Olympia</mat-card-subtitle>
        <img mat-card-sm-image src="./assets/images/test2.jpg" >
          </mat-card-title-group>
          <mat-card-content>
            {{longTextArnold}}
      </mat-card-content>
    </mat-card><mat-card class="testimonial-card">
      <mat-card-title-group>
        <mat-card-title>Chris Bumstead</mat-card-title>
        <mat-card-subtitle>Mr. Olympia</mat-card-subtitle>
        <img mat-card-sm-image src="./assets/images/test3.jpg" >
          </mat-card-title-group>
          <mat-card-content>
            {{longTextSimone}}
      </mat-card-content>
    </mat-card>
  </div>
</body>


<footer>
  <div class="flex-container">
    <div class="section">Address:
      <p>123 Center St</p>
      <p>Philadelphia, Pa 18754</p>
      <p>Phone Number: (215)432-1987</p>
    </div>
    <div class="section">
      <h3>Social Links</h3>
      <div class="flex-container">
        <div class="social-icons">
          <img src="./assets/images/insta.PNG" width="25" height="25">
        </div>
        <div class="social-icons">
          <img src="./assets/images/youtube.PNG" width="25" height="25">
        </div>
        <div class="social-icons">
          <img src="./assets/images/venmo.PNG" width="25" height="25">
        </div>
      </div>
    </div>
    <div class="section">
      <p>Tell us what you want to achieve</p>
      <button mat-raised-button (click)="openDialog()">Contact Us</button>
    </div>
  </div>
</footer>