<body>
  <div class="contianer">
    <div class="jumbotron">
      <h2>Robin Rimbock PT</h2>
        <h3>Start your fitness journey</h3>
        <p>We are a team of dedicated fitness professionals helping you reach
        your goals.  Start today and gain access to world class instruciton 
        through tutorial videos, workout plans, community discusions, and individual 
        workout sessions.
        </p>
    </div>
  </div>
  <div id="about-us">
    <div id="about-us-title" class="text-center">
      <h1><i>Who we are... </i></h1>
    </div>

    <div id="trainer1">
      <img src="./assets/images/head2.png" width="150" height="150" alt="Trainer2">
      <h3>Chris Bumstead</h3>
      <p>Chris is a graduate from temple univeristy with a degree in exercise science.  He has a passion for fitness
        and has spent over 14 years in the industry.  He has trained a multitued of clients personally and understands 
        that each individuals fitness journey and goals are different.  with this knowledge he makes plans that fit your
        goals.
      </p>
    </div>
    <div id="trainer2">
      <img src="./assets/images/head1.png" width="150" height="150" alt="Trainer1">
      <h3>Sully</h3>
      <p>Chris is a graduate from temple univeristy with a degree in exercise science.  He has a passion for fitness
        and has spent over 14 years in the industry.  He has trained a multitued of clients personally and understands 
        that each individuals fitness journey and goals are different.  with this knowledge he makes plans that fit your
        goals.
      </p>
    </div>
  </div>
  <div id="services">
    <div id="services-title" class="text-center">
      <h1><i>Services</i></h1>
    </div>
    <div class="service-plan">
      <h4>Basic</h4>
      <p>This plan includes all videos and lesson plans</p>
      <h5>Free</h5>
    </div>
    <div class="service-plan">
      <h4>Starter</h4>
      <p>This plan includes all videos and lesson plans
        Plus two training sessions per week
      </p>
      <h5>$25/month</h5>
    </div>
    <div class="service-plan">
      <h4>Advanced</h4>
      <p>This plan includes all videos and lesson plans
        Plus 5 training sessions per week
      </p>
      <h5>$60/month</h5>
    </div>
    
    

  </div>
  <div id="testimonials">
    <div id="testimonials-title" class="text-center">
      <h1><i>Testimonials</i></h1>
    </div>
    <div id="container">
      <div id="test1">
        <h1>Test1</h1>
      </div>
      <div id="test2">
        <h1>Test2</h1>
      </div>
      <div id="test3">
        <h1>Test3</h1>
      </div>
    </div>

  </div>
</body>
<footer>

  <p>this is the footer</p>
</footer>