* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.jumbotron{
    background-image: url('./backDrop.jpg');
    height: 350px;
    color: white;
    text-align: center;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item{
    width: 355px;
    height: 275px;
    margin: 10px;
    color: white;
    background: lightcoral;

    border: 5px solid black;
    border-radius: 15px;
    text-align: center;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}
.trainer{
    text-align: center;
    width: 500px;
    border: 2px solid black;
    border-radius: 5px;
}
body{
    margin: 0;
    padding: 0;
}
footer{
    background-color: black;
    color: white;
}

.activity{
    text-align: center;
   
}
.testimonial-card {
    max-width: 375px;
    margin-bottom: 8px;
    margin: 5px;
}
/*
.jumbotron{
 
    background-image: url('./backDrop.jpg');
    
    margin: 0 auto;
    color: white;
}
#main-title{
    font-size: 50px;
    text-align: center;
    padding: 10px;
}
#motto{
    font-size: 35px;
    text-align: center;
    padding: 10px;
}
#quick-info{
    font-size: 20px;
    text-align: center;
    
}
#about-us{
    width: auto;  
}
#services{
    height: 350px;
    background-color: lightgray;
}
#testimonials{
    height: 375x;
}
footer{
    margin: 2px;
    background-color: black;
}
#trainer1{
    position: absolute;
    width: 495px;
    text-align: center;
}
#trainer2{
    width: 495px;
    margin-left: 625px;
    text-align: center;
}
.service-plan{
    border: 5px solid black;
    width: 355px;
    text-align: center;
    background-color: bisque;
    margin: 5px;
    border-radius: 15px;
    float:left;
}
.example-card {
    max-width: 375px;
    margin-bottom: 8px;
    margin: 5px;
}
footer{
    color: white;
    padding: 5px;
    
}
.footer-section{
    width: 355px;
    display: inline-block;
    background-color: aqua;
    margin: 5px;
}
#text{
    text-align: center;
}
#text2{
    text-align: right;
}
*/