<div class='table-responsive'>
    
    <h2>Macronutrients in Common Foods</h2>
    <table class='table'>
        <thead>
            <tr>
                <th>Food</th>
                <th>Serving Size</th>
                <th>Protein</th>
                <th>Carbs</th>
                <th>Fat</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="subHeading">Fruit</th>
            </tr>
            <tr>
              <td>Apple</td>
              <td>1 (~ 4 oz.)</td>
              <td>0.27g</td>
              <td>14.36g</td>
              <td>0.18g</td>
            </tr>
            <tr>
                <td>Banana</td>
                <td>1 (~ 6 oz.)</td>
                <td>1.85g</td>
                <td>38.85g</td>
                <td>0.56g</td>
            </tr>
            <tr>
                <td>Grapes</td>
                <td>1 cup</td>
                <td>1.15g</td>
                <td>28.96g</td>
                <td>0.26g</td>
            </tr>
            <tr>
                <td>Orange</td>
                <td>1 (~ 4 oz.)</td>
                <td>0.79g</td>
                <td>11.79g</td>
                <td>0.23g</td>
            </tr>
            <tr>
                <td>Pinapple</td>
                <td>1 cup</td>
                <td>0.84g</td>
                <td>19.58g</td>
                <td>0.19g</td>
            </tr>
            <tr>
                <td>Strawberry</td>
                <td>1 cup</td>
                <td>1.11g</td>
                <td>12.75g</td>
                <td>0.5g</td>
            </tr>
            <tr>
                <td>Watermelon</td>
                <td>1 cup</td>
                <td>0.93g</td>
                <td>11.48g</td>
                <td>0.23g</td>
            </tr>
            <tr>
                <th class="subHeading">Vegetables</th>
            </tr>
            <tr>
                <td>Asparagus</td>
                <td>1 cup</td>
                <td>2.95g</td>
                <td>5.2g</td>
                <td>0.16g</td>
            </tr>
            <tr>
                <td>Broccoli</td>
                <td>1 cup</td>
                <td>2.57g</td>
                <td>6.04g</td>
                <td>0.34g</td>
            </tr>
            <tr>
                <td>Carrots</td>
                <td>1 cup</td>
                <td>1.19g</td>
                <td>12.26g</td>
                <td>0.31g</td>
            </tr>
            <tr>
                <td>Cucumber</td>
                <td>4 oz.</td>
                <td>0.67g</td>
                <td>2.45g</td>
                <td>0.18g</td>
            </tr>
            <tr>
                <td>Eggplant</td>
                <td>1 cup</td>
                <td>0.98g</td>
                <td>5.88g</td>
                <td>0.18g</td>
            </tr>
            <tr>
                <td>Lettuce</td>
                <td>1 cup</td>
                <td>0.5g</td>
                <td>1.63g</td>
                <td>0.08g</td>
            </tr>
            <tr>
                <td>Tomato</td>
                <td>1 cup</td>
                <td>1.58g</td>
                <td>7.06g</td>
                <td>0.36g</td>
            </tr>
            <tr>
                <td>Corn</td>
                <td>1 cup</td>
                <td>4.3g</td>
                <td>30.49g</td>
                <td>1.64g</td>
            </tr>
            <tr>
                <td>Potato</td>
                <td>6 oz.</td>
                <td>4.47g</td>
                <td>36.47g</td>
                <td>0.22g</td>
            </tr>
            <tr>
                <td>Rice</td>
                <td>1 cup</td>
                <td>4.2g</td>
                <td>44.08g</td>
                <td>0.44g</td>
            </tr>
            <tr>
                <th class="subHeading">Proteins</th>
            </tr>
            <tr>
                <td>Beef</td>
                <td>2 oz.</td>
                <td>14.2g</td>
                <td>0g</td>
                <td>10.4g</td>
            </tr>
            <tr>
                <td>Chicken</td>
                <td>2 oz.</td>
                <td>16g</td>
                <td>0g</td>
                <td>1.84g</td>
            </tr>
            <tr>
                <td>Tofu</td>
                <td>4 oz.</td>
                <td>7.82g</td>
                <td>2.72g</td>
                <td>3.06g</td>
            </tr>
            <tr>
                <td>Eggs</td>
                <td>1 large</td>
                <td>6.29g</td>
                <td>0.38g</td>
                <td>4.97g</td>
            </tr>
            <tr>
                <td>Fish</td>
                <td>2 oz.</td>
                <td>9.96g</td>
                <td>4.84g</td>
                <td>8.24g</td>
            </tr>
            <tr>
                <td>Pork</td>
                <td>2 oz.</td>
                <td>15.82g</td>
                <td>0g</td>
                <td>8.26g</td>
            </tr>
            <tr>
                <td>Shrimp</td>
                <td>2 oz.</td>
                <td>15.45g</td>
                <td>0.69g</td>
                <td>1.32g</td>
            </tr>
            <tr>
                <th class="subHeading">Beverages/Dairy</th>
            </tr>
            <tr>
                <td>Milk (1%)</td>
                <td>1 cup</td>
                <td>8.22g</td>
                <td>12.18g</td>
                <td>2.37g</td>
            </tr>
            <tr>
                <td>Orange Juice</td>
                <td>1 cup</td>
                <td>1.74g</td>
                <td>25.779g</td>
                <td>0.5g</td>
            </tr>
            <tr>
                <td>Yogurt</td>
                <td>1 cup</td>
                <td>12.86g</td>
                <td>17.25</td>
                <td>3.8g</td>
            </tr>
            <tr>
                <td>Beer</td>
                <td>1 can</td>
                <td>1.64</td>
                <td>12.64</td>
                <td>0g</td>
            </tr>
        </tbody>
    </table>
</div>