<div class='card'>
    <div class='card-header'>Active User Details</div>
  
    <div class='card-body'>
        <div class='row'>
          <div class='col-md-8'>
            <div class='row'>
                <div class='col-md-4'>Firstname:</div>
                <div class='col-md-8'>{{profile.givenName}}</div>
            </div>
            <div class='row'>
                <div class='col-md-4'>Lastname:</div>
                <div class='col-md-8'>{{profile.surname}}</div>
            </div>
            <div class='row'>
                <div class='col-md-4'>Email:</div>
                <div class='col-md-8'>{{profile.userPrincipalName}}</div>
            </div>
            <div class='row'>
                <div class='col-md-4'>Azure ID:</div>
                <div class='col-md-8'>{{profile.id}}</div>
            </div>
          </div>
        </div>
    </div>
</div>