<div *ngIf="!deleteMessage">
  <div>
    <h1><b>Selected Workout</b></h1>
  </div>
  <hr>
    <div class="flex-container">
      <mat-card class="workout-card">
        <mat-card-title-group *ngIf='selectedWorkout$ | async as workout'>
          <mat-card-title>{{workout.title}}</mat-card-title>
          
            <button  mat-raised-button [matMenuTriggerFor]="menu">Options</button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/workoutlist">Back to Workout List</button>
                <button mat-menu-item (click)="toggleEdit()">Edit Exercises</button>
                <button mat-menu-item (click)="deleteWorkout(workout.id, true)">Delete Workout</button>
              </mat-menu>
        
        </mat-card-title-group>
        <mat-card-content>
          <div class="table-responsive" >
            <table class="table" >
              <thead>
                <tr >
                  <th>Exercise</th>
                  <th>Weight</th>
                  <th>Sets</th>
                  <th>Reps</th>
                </tr>
              </thead>
              <tbody *ngIf='currentLifts$ | async as lifts'>
                <tr *ngFor="let lift of lifts">
                  <!--Normal setting for delete-->
                  <td *ngIf="!edit">{{lift.name}}</td>
                  <td *ngIf="!edit">{{lift.weight}}</td>
                  <td *ngIf="!edit">{{lift.sets}}</td>
                  <td *ngIf="!edit">{{lift.reps}}</td>
                  <td *ngIf="!edit" (click)="deleteLift(lift.id)"><button mat-raised-button><mat-icon>delete</mat-icon></button></td>
                  <!--Updated setting for put request-->
                  <td *ngIf="edit">{{lift.name}}</td>
                  <td *ngIf="edit"><input [(ngModel)]="lift.weight" name="weight" id="weight" type="text" class="form-control" /></td>
                  <td *ngIf="edit"><input [(ngModel)]="lift.sets" name="sets" id="sets" type="text" class="form-control" /></td>
                  <td *ngIf="edit"><input [(ngModel)]="lift.reps" name="reps" id="reps" type="text" class="form-control" /></td>
                  <td *ngIf="edit"><button mat-button (click)="updateLift(lift.id)">Save</button></td>
                </tr>
              </tbody>
            </table> 
          </div>
        </mat-card-content>
      </mat-card>
    </div>
</div>
<div class="delMessage" *ngIf="deleteMessage">
  <h1><b>Successfully deleted the workout</b></h1>
  <button mat-raised-button routerLink="/workoutlist">Return to Workout List</button>
</div>
