.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.workout-card{
    width: 95%;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#right{
    position: absolute;
    right: 110px;
}
h1{
    text-align: center;
}
#addNew{
    position: absolute;
    right: 5px;
}
.delMessage{
    text-align: center;
}