<div class="card">
    <div class="card-header">Contact Us</div>
</div>

<div class="card-body">
    <form novalidate (ngSubmit)="save(contactForm)" #contactForm="ngForm">
        <div class="form-group row mb-2">
            <label class="col-md-2 col-form-label" for="firstNameId">First Name</label>
            <div class="col-md-8">
                <input class="form-control" id="firstNameId" type="text" placeholder="First name" 
                    required minlength="2" [(ngModel)]=contactUs.firstName name=firstName #firstNameVar="ngModel" 
                    [ngClass]="{'is-invalid': (firstNameVar.touched || firstNameVar.dirty) && !firstNameVar.valid}" />
            
           
            </div>
        </div>
    </form>
</div>