<div>
    <h1>Edit Profile</h1>
    <hr>
    <div>
        <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)" autocomplete="off" novalidate>
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input formControlName="firstName" id="firstName" type="text" class="form-control" placeholder="First Name..." />
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input formControlName="lastName" id="lasttName" type="text" class="form-control" placeholder="Last Name..." />
            </div>
            <div class="form-group">
                <label for="goal">Weight Goal:</label>
                <input formControlName="goal" id="goal" type="text" class="form-control" placeholder="" />
            </div>
            <div class="form-group">
                <div class="flex-container">
                    <div class="form-check">
                        <input formControlName="avatar" id="avatar" class="form-check-input" type="radio" name="inlineRadioOptions" value="./assets/images/ava1-modified.png">
                        <label class="form-check-label" for="inlineRadio1"><img class="ava1" src="./assets/images/ava1-modified.png"></label>
                    </div>
                    <div class="form-check">
                        <input formControlName="avatar" class="form-check-input" type="radio" name="inlineRadioOptions" id="avatar" value="./assets/images/ava2-modified.png">
                        <label class="form-check-label" for="inlineRadio2"><img class="ava2" src="./assets/images/ava2-modified.png"></label>
                    </div>
                    <div class="form-check">
                        <input formControlName="avatar" class="form-check-input" type="radio" name="inlineRadioOptions" id="avatar" value="./assets/images/ava3-modified.png">
                        <label class="form-check-label" for="inlineRadio3"><img class="ava3" src="./assets/images/ava3-modified.png"></label>
                    </div>
                    <div class="form-check">
                        <input formControlName="avatar" class="form-check-input" type="radio" name="inlineRadioOptions" id="avatar" value="./assets/images/ava4-modified.png">
                        <label class="form-check-label" for="inlineRadio4"><img class="ava4" src="./assets/images/ava4-modified.png"></label>
                    </div>
                </div>
            </div>
        

            <button mat-raised-button color="primary" type="submit" mat-dialog-close >Save</button>
            <button mat-button mat-dialog-close>Cancel</button>
        </form>
    </div>
</div>